dist
dist-*
cabal-dev
cabal.project.local
cabal.project.local~
cabal.sandbox.config
.hpc
.hsenv
.cabal-sandbox/
.stack-work/
.HTF/
.ghc.environment.*
*.o
*.pdf
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.prof
*.aux
*.hp
*.eventlog
*.dyn_hi
